html, body {
    width: 100%;
    height:100%;
    font-family: sans-serif;
}

body {
    background: linear-gradient(-45deg, #cee0dc, #d3e3df, #b9cfd4, #c1d5d9);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0;
    box-sizing: border-box;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #cee0dc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #819196;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b9cfd4;
}

div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 60px;
}

.countries,
.country_info {
    border: 1px solid #819196;
    border-radius: 6px;
    padding: 20px;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    max-height: calc(100vh - 120px);
    overflow: hidden;
}

.countries:hover,
.country_info:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.countries_inner,
.country_info_inner {
    max-height: 100%;
    overflow: auto;
}

.country {
    font-size: 1.2rem;
    line-height: 2rem;
    color: black;
}

.country:hover {
    color: #475255;
    cursor: pointer ;
    text-decoration: underline;
}

.country_info_inner {
    display: grid;
    grid-gap: 0 20px;
    grid-template-columns: 120px auto;
}

.country_info_inner img {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 5;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.country_info_inner div {
    grid-column: 2;
}

.country_info_inner div.name {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #475255;
}

.label {
    display: inline-block;
    color: #475255;
}

.country_info_inner div.currencies {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    font-size: 2rem;
    margin: 20px 0 0;
    max-width: 100%;
}

.currency {
    font-size: 1rem;
    color: black;
    margin-bottom: 20px;
}

.currency span {
    color: #475255;
}

p {
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1rem;
}

canvas {
    width: 100%;
    background: white;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

@media (max-width: 980px) {
    .grid {
        grid-template-columns: 1fr 2fr;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        margin: 30px;
    }

    .countries {
        max-height: 45vh;
    }

    .country_info {
        max-height: none;
        margin-bottom: 20px;
    }

    canvas {
        pointer-events: none;
    }
}
